.header {
  padding: 25px 100px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid gray;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.sub-title {
  color: gray;
  margin-left: 20px;
}
